.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

html{
	scroll-behavior: smooth;
}

h1 {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	background-size: cover;
}

.carousel-caption  {
	background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com 80% de opacidade */
	padding: 10px; /* Espaço ao redor do texto */
	border-radius: 5px; /* Bordas arredondadas */
	display: inline-block; /* Para ajustar o tamanho do fundo ao texto */
	padding: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px;
	opacity: 80%;
}

.carousel-item.zoom {
	animation: zoomEffect 10s infinite;
}

@keyframes zoomEffect {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
}

p {
	opacity: 100%;
	color: white;
}

h1 {
	opacity: 100%;
}

.float .fa-whatsapp {
	margin-top: 16px;
	font-size: 28px;
}

/* Estilos personalizados para a seção Nossos Serviços */
.service-card {
	transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
	transform: translateY(-10px);
  }
  
  /* Estilos personalizados para a seção Contato */
  #contact form {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contact iframe {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      height: 0;
      padding: 0;
    }
  }

  .form-sent {
    animation: fadeOut 0.5s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Estilo para a animação de sucesso */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  /* Aplicar a animação à mensagem de sucesso */
  .show-message {
    animation: fadeInOut 4s ease;
  }

    .carousel-item {
      height: 100vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      background-size: cover;
    }

    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: zoomEffect 20s infinite;
    }

    @keyframes zoomEffect {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
    }

    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com 80% de opacidade */
      padding: 10px; /* Espaço ao redor do texto */
      border-radius: 5px; /* Bordas arredondadas */
    }

    .carousel-caption h1,
    .carousel-caption p {
      color: white; /* Garantir que o texto seja branco */
      padding: 5px; /* Reduzir o padding dos elementos internos */
    }

    .card {
      margin-bottom: 20px;
    }